/*
Theme Name: Gamerlit Theme
Template: pustaka
*/

#page-sub-header {
	padding-top: 0px !important;
	height: 36px;
	background: transparent;
	position: relative;
	z-index: 1000;
}

.is-sticky #page-sub-header {
	background: rgba(74, 38, 91, 0.7) !important;
	position: fixed;
}

.navbar-transparent {
	width: 100%;
	padding: 3px 0;

}

.navbar-wrap {
	width: 97%;
	max-width: 1000px;
	margin: auto;
	height: 33px;
}

.gl-logo {
	background-image: url('assets/1x/gamexifyLogo_1x.png');
	width: 111px; 
	height: 22px;

	background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 

}

.logo-wrap {
	padding: 5px 3px;
	min-width: 130px;
	width: 14%;
	display: inline-block;
}

.nav-controls {
	min-width: 150px;
	float:right;
	width: 16%;

}

.is-sticky {
	display:none;
}

.nav-control {
	height: 28px;
	width: 28px;
	padding: 0px 5px;
}

.nav-control img {
	height: 28px;
	width: 28px;
}

#welcome-wrap {
	background-image: url('assets/1x/gamerlit-movie-back.jpg');
	min-height: 300px;
	background-position: center bottom;

}

.welcome {
	min-height: 300px;
	width: 100%;
	background-color: rgba(74, 38, 91, 0.7) !important;
	margin-top: -36px;
	padding-top: 36px;
	
}

.centered-welcome {
	width: 900px;
	max-width: 85%;
	display: block;
	min-height: 300px;
	margin: 0 auto;
	text-align: center;

}

.g-blocks {
	width: 100%;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}

.g-block {
	width: 125px;
	margin: 10px;
	height: 125px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: black;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.g-announcement {
	background: rgba(19,19,34, 0.6);
	width: 85%;
	max-width: 1000px;
	margin: auto;
	min-height: 40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	margin-top: 15px;
	text-align: left;
	display: grid;
	grid-template-columns: 1fr 60px 20px;
	grid-template-rows: 15px auto;

}

.g-announcement-title {
	font-family: 'Ubuntu',Arial,sans-serif;
	color: #8d81ac;
	font-size: 14pt;
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 5px;
}
.g-announcement-content {
	margin: 15px 10px;
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	grid-row: 1 / 3;
	grid-column: 1 / 2;

}

.g-announcement-text {
	font-family: 'Ubuntu',Arial,sans-serif;
	font-size:12pt;
	color: #cccbd5;
}

.g-announcement-image {
	vertical-align: top;
	grid-row: 2 / 3;
	grid-column: 2 / 4;
}

.g-announcement img {
	float:right;
	padding: 10px 15px 10px 10px;
	max-height: 70px; 
	max-width: 100%;
	margin-top: 10px;

}

.g-announcement-x {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
	color:white;
	cursor: pointer;
}

.g-block div {
	display: inline-block;
}

.g-block-title {
	color: #cccbd5;
	font-family: 'Khand',Arial,sans-serif;
	font-weight: bold;
	font-size: 18pt;
}

.g-block-image {
	width: 70%;
	height: 60px;
	display: inline-block;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.g-block-image.fit-width {
	background-size: 100% auto;
}

span.cart-num {
	background-color: #d9533f;
    color: rgba(255, 255, 255, 0.9);
    font-size: 10pt;
    min-width: 23px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    height: 23px;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    top: -10px;
    margin-left: -10px;
    right: -6px;
}

.mobile-menu-wrap {
	background-color: rgba(255,255,255,0.9);

}

.web-nav {
	display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 65%;
}

.web-nav .menu {
	display: none;
    color: white;
    margin: 0 !important;
    vertical-align: top;
    list-style: none;
 	font-family: 'Abel',sans-serif;
 	text-align: center;
}

.web-nav .menu li {
	display: inline-block;
	margin: 0px 10px;
	font-size: 12pt;
	text-align: center;
}

.mobile-menu-wrap .menu {
	list-style-type: none;
}

.mobile-menu-wrap .menu li {
	color: #7e0aa9;
    font-family: 'Abel',sans-serif;
    font-size: 14pt;
}

    


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
    .gl-logo {
		background-image: url('assets/2x/gamexifyLogo_1x@2x.png');
	}
}

@media only screen and (max-width : 700px) {
	.centered-welcome {
		width: 300px;
	}
}

@media only screen and (min-width : 840px) {
	.web-nav .menu {
		display: inline-block;
	}

	.nav-control.menu-main-toggle {
		display: none;
	}   
}


@media only screen and (min-width : 1131px) {
	#welcome-wrap {
			background-image: url('assets/web/gamerlit-movie-back.jpg');
			background-size: 100%;
			background-position: 0 0;
		}
}